@import "tailwindcss";
@plugin "@tailwindcss/typography";


@font-face {
  font-family: "Hanken Grotesk";
  src: url("/fonts/HankenGrotesk-Variable.ttf") format("truetype");
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --font-sans: "Hanken Grotesk", sans-serif;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Hanken Grotesk", sans-serif;
}
.font-hanken-grotesk {
  font-family: "Hanken Grotesk", sans-serif;
}
